[2020-05-11 19:59] rafe-s opened #1 "Convert Hangouts support to use EionRobb/purple-googlechat"
I realize this project is mostly dead, but I wonder if anyone is willing to port Eion Robb's purple-hangout plugin for pidgin to Adium. It provides improved support for standard Google Hangout features, such as group chat.

See https://bitbucket.org/EionRobb/purple-hangouts

[2020-06-10 16:15] Neustradamus opened #2 "Release Updated Version"
Please provide information on status of next release.

[Reworded by Asher]

[2020-06-15 22:10] Neustradamus opened #3 "Missing Adium .SVG logo"
I do not found the Adium .SVG logo, where it is?

If it does not exist, can you create?

Thanks in advance.

[2020-06-16 19:18] mathuaerknedam commented on #3
To the best of my knowledge, an SVG version of the Adium logo has never been created. I do have vector art of some sort (can't open right now to see) from the Vectory Ducks Xtras (https://www.adiumxtras.com/index.php?a=xtras&xtra_id=2222), but these are not the official Adium logo, and are not authorized for use as the official Adium logo. I'm not up on the current state of vectorization tech, but

[2020-06-16 21:09] wixardy commented on #3
[Here's a .psd](https://hg.adium.im/www/adium.im/raw-file/tip/images/adiumy/AdiumyGreen-512x512-200ppi.psd) which you can probably create an SVG from.

[2020-06-16 21:15] donatj commented on #3
That PSD doesn't appear to have any layer information, it's just a flat bitmap.

[2020-06-16 22:50] RobFog commented on #3
@Neustradamus What do you need it for?

[2020-06-17 03:54] Neustradamus commented on #3
Thanks all for your comments!

I think it is time to create an official .SVG logo :)

In 2020, all good projects (and organizations/companies) have his logo in .SVG and it is really better to have an official file that unofficial ^^

[2020-06-17 04:00] Neustradamus opened #4 "A migration from hg.adium.im"
I think it is time to migrate all from https://hg.adium.im/ to here and/or in a GitLab (self-hosted or hosted on gitlab.com).

It will permit a better development of Adium.

Note: It is easy to do automatic mirroring between GitHub and GitLab like a lot of projects/organizations/companies.

[2020-12-03 14:56] jas8522 commented on #4
hg isn't even live anymore and nobody has stepped up to do this... why create more work that nobody wants to do?

[2020-12-03 16:34] RobFog commented on #4
Jordan, I think this report is from a time when this repo was not the main repo but a mirror. So take it as a suggestion to move to Github which has since been done. ;-)

[2020-12-03 16:36] #4 closed, assigned to nobody

[2020-12-04 11:48] tchek opened #6 "Crash on Big Sur (1.5.10.4)"
Hi 👍
Adium ! Love that piece off soft
Until Catalina everything was going very well, but on Big Sur nothing works anymore, he barely quits. Big Sur 11.1 (20C5048)

ideas ?
A light ?
Are there still courageous and motivated people to peirenize the heroic?

Cheers and Take care :-)

[2020-12-05 13:50] jas8522 opened #7 "Unable to build project on macOS 11"
Documenting this here so it's more clear what is going on to anyone who might be interested.

Since macOS 10.15 the biggest hurdle to any new releases of Adium has been the inability to build the project on recent releases of macOS. Notes from @RobFog on this:

The latest branch where work on fixing the build process is happening is here: https://github.com/adium/adium/commits/adium-1.5.11.asher.1

[2020-12-05 14:49] jas8522 commented on #2
The details on why there's no no updates is now here: https://github.com/adium/adium/issues/7 along with how to find the most recent work by @Asher- on fixing that up.

As for the message scrolling issue, thankfully that *can* be fixed without a new build. This solution comes from [the forums here](https://forums.cocoaforge.com/viewtopic.php?p=140866#p140866) and this [Softpedia article](https://n

[2020-12-05 14:53] jas8522 commented on #6
@tchek odd, I'm running Adium 1.5.10.4 on Big Sur 11.0.1 and haven't encountered any crashes yet. Could you attach the crashlog here? Also can you elaborate on what you mean by "he barely quits"?

- Which chat services are you using?
- Have you tried the troubleshooting steps here? https://adium.im/help/pgs/TroubleshootingTips.html

[2020-12-05 16:52] tchek commented on #6
Hi **jas8522**

Thanks for your answer

i'm now on BigSur 11.1 (20C5061b) with Adium Adium 1.5.10.4
I'm using multipls accounts (YAHOO, GTalk, TWITTER, ICQ (but no active), AIM( but no active) AND 1 XMPP (jabber) PERSONAL)

Maybe a issue with libpurple ? or crypt OCR ? i do not know i'm not dev :)

"Barely quits" is a translation error, do not take it into account, Adium quits as soon as I launch

[2020-12-05 17:02] jas8522 commented on #6
Hey @tchek it seems to think there's a missing image in the UI toolbar. Could be a profile image it doesn't like. I'm afraid I don't have macOS 11.1 to test though. Please complete step 4 here to help narrow this down: https://adium.im/help/pgs/TroubleshootingTips.html

[2020-12-05 17:11] tchek commented on #6
Ok, I understand! it's a pity, I will do what you say thank you!

[2020-12-05 18:09] jas8522 commented on #3
@RobFog who made the icon you're using here? That seems like it was created as a vector image in that it has more simplified gradients/shading and cleaner lines. Perhaps we could ask them if it could be the official SVG version of the logo.

[2020-12-05 18:18] RobFog commented on #3
I don't know. I only recall the original one was by Adam Betts. Maybe @wixardy knows?

By the way, I'm not convinced "all good projects have it" is a reason that is worth the effort. If that is actually the case, @Neustradamus surely should be able to give us a proper reason?

[2020-12-07 02:27] jas8522 commented on #3
@RobFog agreed.

The image you're using is from the xtras set @mathuaerknedam [mentions above](https://www.adiumxtras.com/index.php?a=xtras&xtra_id=2222). Shall we reach out to Sam Gwilym about making it an official vector of the logo? I'm a fan. I think it does an excellent job of capturing the animation style while simplifying the overall appearance.

I should add that I've converted bitmaps to

[2021-01-07 22:12] Underboss572 opened #8 "MacOS Big Sur separating tabs issue"
Since updating to the Big Sur update, I have been unable to either move tabs or separate them out to other windows. All other functions seem to be working fine other than this issue.

[2021-01-20 22:50] ghost opened #9 "Apple M1 support"
I think this project is dead. Am I right? Or does it worth to ask if Apple M1 will be supported? :D

[2021-01-20 22:58] donatj commented on #9
I've had an eye on it for a while and am watching the repo.

They _just recently_ moved here from Bitbucket, hence your issue being #9 on a 20 year old program.

There have been little minor flurries of activity. I don't expect new features, but I expect some minor maintenance in the near future.

[2021-01-20 23:01] RobFog commented on #9
To my knowledge, nobody has been working on Adium for a while. @Asher- was the last I know.

[2021-01-21 01:28] Asher- commented on #9
I am working on it in fits and starts. I haven't yet gotten things in order to push a new release. Hopefully I will be able to do so soon, but things keep getting in the way.

If anyone else wanted to get involved, I would be happy to find time to coordinate.

[2021-01-21 04:11] thomasrussellmurphy opened #10 "Links to trac.adium.im in README.md broken"
Multiple links out from https://github.com/adium/adium/raw/master/README.md to `trac.adium.im/wiki` that no longer exists. This includes important links like the Contributing guidelines.

[2021-01-21 22:53] ghost commented on #9
Hey guys, thank you for the answers. Looking forward to the new versions ...

[2021-01-24 03:55] Neustradamus commented on #1
@EionRobb has moved on GitHub:
- https://github.com/EionRobb/purple-hangouts

[2021-01-24 03:58] Neustradamus commented on #9
Master branch is very very very old: 5 Sep 2016, in few days: 4 years, 5 months.

[2021-01-24 04:00] Neustradamus commented on #2
@bellwood, @jas8522: Any news for merging into master branch (last commit: 5 Sep 2016, in few days: 4 years, 5 months)
- https://github.com/adium/adium/branches/all

It must be better to merge all into master and remove old branches.

@RobFog, @kjc75, @Asher-, @evands: ^

@evands: There is a problem with your commits, not linked to your GitHub account:
- https://github.com/adium/adium/commits/mast

[2021-01-24 18:50] Asher- commented on #2
Master does not have shared commits. I have held off on moving the working branch to master until it is in working order.

[2021-02-09 01:40] justinormont opened #11 "Adium website down"
https://adium.im/ is currently down, giving the error "504 Gateway Time-out nginx".

Internet Archive last saved a URL on [2021-02-08 12:10:00](https://web.archive.org/web/*/https://www.adium.im/*) (13.5 hours ago, assuming UTC):
<img width="1160" alt="Screen Shot 2021-02-08 at 17 37 37" src="https://user-images.githubusercontent.com/4080826/107303706-6deca100-6a34-11eb-8a67-01d8efd5c292.png">

[2021-02-09 22:48] justinormont commented on #11
The http://adium.im/ website is working again.

[2021-02-09 22:48] #11 closed, assigned to nobody

[2021-02-12 14:35] cobber opened #12 "Unable to resolve server names"
I just installed Adium on Mac OS 10.14.6 (Mojave) and, even after a reboot, it doesn't seem to be able to resolve any host names. However, browsing to the hosts and e.g. `host irc.freenode.net` works just fine on the command line.

Error: Unable to connect: Error resolving irc://irc.freenode.net: nodename nor servname provided, or not known

![image](https://user-images.githubusercontent.com/31005

[2021-02-21 16:06] estellnb opened #13 "support video chats for XMPP/Jabber"
Most Linux based Jabber clients like Pidgin or Empathy support video chats over Jabber. Why doesn´t Adium support that? For me video-chatting only works over gstreamer/pidgin and is neither supported by Firefox nor by the Chromium browser.

[2021-02-24 16:59] Asher- commented on #1
This sounds like a great idea. Top of the list after we get things working properly.

[2021-02-24 17:03] RobFog commented on #1
Sure? Hangouts appears to [end of life](https://techcrunch.com/2020/10/15/hangouts-meet-chat/).

[2021-02-24 17:05] Asher- commented on #1
Don't they just keep changing the name?

[2021-02-24 19:09] ChrisForsythe commented on #12
Try chat.freenode.net. Same issue?

[2021-02-24 19:13] ChrisForsythe commented on #10
If one of you could submit a pull request to address this it would be appreciated.

[2021-02-24 19:17] ChrisForsythe commented on #6
If there is an easy fix for this try in 1.6, else move to 1.7.

[2021-02-24 19:18] ChrisForsythe commented on #9
If this is an easy fix, do it in 1.6. If not, punt to 1.7.

[2021-02-24 19:25] cobber commented on #12
irc://chat.freenode.net seems to work
strange... irc.freenode.net and chat.freenode.net both have the same set of addresses according to host(1)

[2021-02-24 19:28] ChrisForsythe commented on #12
I'm pretty sure freenode is/was moving to chat. and cnamed irc. a while back. I think they'll eventually drop irc. entirely. Since it's working for you I'm going to close this.

If you narrow it down further and find this is the cause, feel free to open a new issue detailing the problem itself in more of a "user story" kind of way and not so much a support issue, if that makes sense.

[2021-02-24 19:28] #12 closed, assigned to nobody

[2021-02-24 19:39] cobber commented on #12
all good :-)

[2021-02-24 22:19] RobFog commented on #13
Why? Easy: Nobody has done the work. And it's a lot of work.

[2021-02-24 22:20] RobFog commented on #10
I won't.

[2021-02-24 22:53] Neustradamus opened #14 "Adium build in 2021"
It is planned to have an update in 2021?

Pidgin has been updated since last Adium version...

Linked to:
- https://github.com/adium/adium/issues/2

[2021-02-24 22:58] #14 closed, assigned to nobody

[2021-02-24 22:59] Asher- commented on #14
I've edited, cleaned up, and re-opened your prior post to use as a reference.

[2021-02-24 23:28] Neustradamus commented on #2
@Asher-: Thanks for your comprehension and the ticket status change.

[2021-02-25 02:33] mathuaerknedam commented on #10
It was crude, but I removed the lines with Trac links via the edit button.
It would have been nicer to keep the lines with links to updated content,
but to the best of my knowledge that content doesn't currently exist.

On Wed, Feb 24, 2021 at 1:13 PM ChrisForsythe <notifications@github.com>
wrote:

--

Matthew

[2021-02-25 16:00] Asher- opened #15 "Clean up dependency build details"
Currently preventing proper code signing. At least one part of the problem is name mismatch between lib[x] and [x] (ends up with mix of both).

[2021-02-25 16:03] Asher- opened #16 "Update to MMTabBar"
MMTabBar is a modernized version of PSMTabBarControl, which originally came from Adium. Because it hasn't been integrated back into Adium, it is not quite drop-in. I think the only thing preventing moving forward is enabling the tab bar to specify its view class.

[2021-02-25 16:05] Asher- opened #17 "Clean up codesigning and ensure signing success"
Issues related to dependencies are causing codesign to fail unless deep is specific, which is not recommended.

Sorting this out is rather opaque, so probably requires step by step cleaning up the dependencies.

[2021-02-25 16:06] Asher- opened #18 "Evaluate and Update or Remove apparently obsolete services"
AIM, possibly others.

1. determine which are obsolete
2. remove from code
3. ensure code still works

[Edited by @RobFog]
List of services to consider removing:
* AIM (see also #20)
* MSN
* GoogleTalk (?) (see also #1)
* Yahoo! and Yahoo! Japen
* Facebook
* LiveJournal
* MobileMe

[2021-02-25 16:07] Asher- opened #19 "Splitting project into multiple smaller projects"
Current project organization is a mess due to accumulation. Many of the parts can be separated but are not currently. I have begun the process of creating multiple projects that can be used together in a single workspace. This needs to be continued.

[2021-03-01 17:24] stephenchaffins opened #20 "Decouple AIM Accounts from api.screenname.aol.com"
With advent of AIM Phoenix we are in dire need of a feasible MacOS client that can connect to the OSCAR nodes that AIM Phoenix devs have recreated.

At this time, if you go into Adium's accounts, add an AIM account and use the iWarg server as the login server, it still tries to authenticate through the old AOL api.screenname.aol.com.

I've looked through the code, but I'm afraid I do not have the

[2021-03-01 17:32] stephenchaffins commented on #18
Please dont remove aim. I actually just made a feature request for a modification to it to make it useful (before seeing this issue).

[2021-03-01 20:10] RobFog commented on #20
Are there good reasons to use AIM Phoenix over modern protocols such XMPP, Signal, or Telegram?

[2021-03-01 20:14] RobFog commented on #18
I am skeptical that there are good reasons to keep AIM for AIM Phoenix. Let's discuss AIM at #20, the issue you opened.

[2021-03-01 20:20] RobFog commented on #18
Other services to remove would be:
* MSN
* GoogleTalk (?)
* Yahoo! and Yahoo! Japen
* Facebook
* LiveJournal
* MobileMe

[2021-03-01 20:40] stephenchaffins commented on #20
To use it over modern protocols, no, I dont think so. Its just a matter of preference most likely. With that said, adium has never been about one protocol OVER another one. Its already there, all it needs its the modification to make it useful to the users over there. Id assume this change would be easier than removing the protocol all together, and leaving it would make many mac based aim phoenix

[2021-03-01 20:46] RobFog commented on #20
Right. But at the same time, code needs to be maintained and unnecessary code is a burden. I'd be surprised if there a more than a few hundred users of AIM Phoenix.

[2021-03-01 21:21] stephenchaffins commented on #20
That's fair enough. Im not sure how much needs maintained on a protocol thats unchanged in probably more than a decade, but Its not my software, I am just a user and I was just asking.

No worries. I'll do what I can with the code and compile my own version if I figure it out.  If not, ill move along.

thanks for your time.

[2021-03-02 17:53] Asher- commented on #20
WTF - I posted a reply and then edited and updated and GitHub mobile web deleted the comment? Makes no sense.

=======

Please submit any information you have about what needs to be changed in order for AIM Phoenix to work. Is anyone currently using a modified version of the client?

Trying to look into AIM Phoenix, their webpage index is broken. Going via a non-index page works, but the site does

[2021-03-03 00:12] stephenchaffins commented on #20
When you change the "login server" for AIM to anything other than the old AIM hostname (aka, no matter what), Adium tries to authenticate the account through "https://api.screenname.aol.com" rather than the specified Login server. According to the Phoenix site, it worked as recently as Adium 1.3.10 (and lower, with encryption disabled).

I think libpurple_gaim is getting the authentication hostnam

[2021-03-03 00:53] stephenchaffins commented on #20
Actually, heres an updated screenshot. That previous one, I forgot to reverse my host file change. Ive attached the update one. (which the previous screen shot shows it is using SSL to connect to the auth server, despite encryption being disabled, so that could be a part of why I couldnt just fix it with a pointing with my hosts file.)

<img width="565" alt="Screen Shot 2021-03-02 at 7 50 08 PM" s

[2021-03-04 19:58] rafe-s commented on #1
@EionRobb has discussed the future of the project [here](https://github.com/EionRobb/purple-hangouts/issues/191). Currently, purple-handouts works with Google's intended Hangouts replacement, "Chat." If at some point Google disables this compatibility layer, he appears intent to build another libpurple plugin to support Chat.

Much of the work that would go in to getting purple-hangouts working in

[2021-03-04 20:22] Asher- commented on #1
Thanks for the details.

[2021-03-04 23:01] EionRobb commented on #1
@sschneer whoops, spelled my username wrong there :)

Not sure if I mentioned it in either of those two links but an Adium plugin that could load in raw libpurple plugins without needing all the extra wrapper code would be amazing and would really help speed up ports to Adium

[2021-03-06 18:03] thomasrussellmurphy commented on #10
There is still a link to the wiki that is broken. In addition, are there no longer contributing guidelines?

[2021-03-06 18:06] Asher- opened #21 "Recover Contributing Guidelines"
Previously linked from trac. Someone has the content somewhere?

[2021-03-06 18:06] Asher- commented on #10
Can someone take care of the remaining link on trac?

Created issue for contributing guidelines (https://github.com/adium/adium/issues/21).

[2021-03-06 20:19] RobFog commented on #21
Here are some relevant pages:
* "Development": https://web.archive.org/web/20200915230142/https://trac.adium.im/wiki/Development
* "ContributingCode": https://web.archive.org/web/20200923043011/https://trac.adium.im/wiki/ContributingCode
* "User Interface Design Guidelines": https://web.archive.org/web/20200923043702/https://trac.adium.im/wiki/UIDesignGuidelines
* "Tips and Tricks for Coding on Ad

[2021-03-09 07:54] estella144 commented on #18
_Facebook_?

[2021-03-09 07:56] estella144 commented on #21
Yep. They all lead back to the right pages. Modify those links and we can consider this closed.

[2021-03-09 07:56] Asher- commented on #18
Facebook cut off access to their messenger API quite a while back because it was undermining exposure to ads.

At some point, I noticed it happened to be working again. I don't think it was a policy reversal on their part, so I'm not sure what the resulting state was.

Anyone know?

[2021-03-09 07:58] estella144 commented on #1
@EionRobb , as @RobFog said, Hangouts is at its end of life. Maybe we should drop support for it entirely.

[2021-03-09 08:05] estella144 commented on #6
@tchek and @jas8522 , it hasn't crashed for me (yet), so if anyone else had a similar crash, please tell me. It could be closed as a one-off (I am on macOS **11.2.2** build 20D80), and this concerns 11.1, which has been superseded.

[2021-03-09 08:11] Asher- commented on #21
I believe things should be correct now. Please verify and let me know if not.

[2021-03-09 08:11] #21 closed, assigned to nobody

[2021-03-09 08:12] Asher- commented on #10
I somehow missed that this was just the Readme in the repo. I believe it's all fixed now. Let me know if not.

[2021-03-09 08:12] #10 closed, assigned to paulwilde, mathuaerknedam

[2021-03-09 08:19] estella144 commented on #9
@ChrisForsythe are you sure this is an _easy_ fix? Adding support for another processor is not going to be easy. (By the way, I have got one of the newest MacBooks and it does not contain an M1.)

[2021-03-09 08:21] Asher- commented on #9
I don't have an m1 and haven't tried compiling anything on one yet, but from what I've heard it shouldn't be an issue.

It's not really adding a processor— just making sure that it compiles and works as expected, and Apple has done a lot of work on the toolchain to ensure that.

[2021-03-09 08:29] estella144 commented on #19
@Asher- Which projects?

[2021-03-09 08:31] Asher- commented on #19
I think AIHyperlink was already a project; so far I have created a project for AIUtilities, MMTabBar (replacing PSMTabBar) and adium-dependencies.

[2021-03-09 09:00] RobFog commented on #18
I'm sure Adium's current Facebook implementation doesn't work. This libpurple plugin does and is being actively developed: https://github.com/dequis/purple-facebook works. We should consider removing built-in support and pointing to the plugin instead.

[2021-03-09 16:33] jas8522 commented on #6
Hey @estella144 That's great! Same here -- no crashes for me on 11.2.2 either. @ChrisForsythe it would seem reasonable to close this out and only re-open if someone (or @tchek)  reports the same crash on a release version of macOS. I don't have access to close it :)

[2021-03-09 16:35] RobFog commented on #6
Thanks, folks. I'll close this for now.

@tchek, let us know if you still experience the crash on a recent version of Big Sur.

[2021-03-09 16:35] #6 closed, assigned to nobody

[2021-03-09 16:35] estella144 commented on #18
@RobFog Ok, then how is MSN obsolete?

[2021-03-09 16:38] estella144 commented on #9
@Asher- Well, who has an M1, then?

[2021-03-09 16:39] jas8522 commented on #2
I appreciate your reasoning, however I think if there *is* someone interested in helping to contribute, it would be easier for people to spot where we're at if the changes are in Master and we use a tag to identify release versions (rather than Master itself).

[2021-03-09 16:42] RobFog commented on #18
I'm sorry but I don't understand the question. MSN has been dead for a long time: https://en.wikipedia.org/wiki/Windows_Live_Messenger

[2021-03-09 16:42] jas8522 opened #24 "Change Master repo to "Main""
There's some instructions that can be followed [to do this here](https://hackernoon.com/how-to-rename-your-git-repositories-from-master-to-main-6i1u3wsu).

[2021-03-09 16:43] estella144 commented on #20
@stephenchaffins @Asher- and @RobFog : This has been kinda stale for a week now. As RobFog said:

Please see #18 . I see no reason to keep this issue running when this is about an obsolete service anyway.

[2021-03-09 16:43] Asher- commented on #2
It was moved to master several days ago now :)

[2021-03-09 16:44] jas8522 commented on #18
A bunch of this is done in my fork here: https://github.com/jas8522/adium

But I'm stuck where the main project is stuck: I can't tell the results of my changes without being able to compile it.

[2021-03-09 16:45] jas8522 commented on #9
@estella144 it shouldn't matter, from what I understand. My understanding is that newer versions of XCode will allow cross compiling for M1 CPUs. But to make that work, there needs to be a new release, so this issue blocks on #2

[2021-03-09 16:47] jas8522 commented on #2
@Asher- oh, great!

[2021-03-09 16:48] estella144 commented on #18
@RobFog you are correct. In the Discontinuation section of that article, it says:

It needs to be dropped.

[2021-03-09 16:51] tchek commented on #6
Hi all,

Thanks
I have no more crash on Big sur (M1 and Intel) with version 1.5.b3 (5d4a3b9f6d5f)

[2021-03-09 16:52] estella144 commented on #18
Also, at [https://en.wikipedia.org/wiki/Yahoo!_Messenger#Adoption](url) it says that:

What are the implications of that?

[2021-03-09 16:52] jas8522 commented on #18
Shall we create a separate issue to track that move to use FB messenger with libpurple?

[2021-03-09 16:53] Neustradamus commented on #2
@jas8522: Thanks for the relaunch ^^

@Asher-: Excellent news, thanks to have listened some people like me, people can now see that Adium is not a dead project!

[2021-03-09 16:53] Asher- commented on #9
This issue is identical with #2 AFAIC.

[2021-03-09 16:54] Asher- commented on #7
This information no longer applies, plus building from current state will not result in working binary. Closing this issue as duplicate of #2.

[2021-03-09 16:54] #7 closed, assigned to nobody

[2021-03-09 16:55] estella144 commented on #24
An existing pull request needs to be merged before this can be done: #23

[2021-03-09 16:56] RobFog commented on #18
I think we need to have a general discussion about which services to support etc. It might be better to leave that discussion for until we have released the minor update with build fixes and the scrolling bug fix.

None. It's dead.

[2021-03-09 16:58] estella144 commented on #19
Thank you! Please continue. 👍

[2021-03-09 16:59] Asher- commented on #20
Such a weird niche probably means that there are some code-capable individuals floating around... If we got even one of them contributing, that would be a win. I think that if there isn't significant work to enable AIM Phoenix, then why not?

The biggest barrier to entry right now is that there is too much stuff to look at and make sense of organization. Once the code base is cleaned up and an exa

[2021-03-09 17:00] Neustradamus commented on #18
I think that Google Talk always works, no?
The only point is that Google Talk has disabled the XMPP Federation when:

May 19, 2014 - permanent upgrade to encrypted network, coinciding with Open Discussion Day:
- http://opendiscussionday.org/

[2021-03-09 17:11] estella144 commented on #24
@jas8522 it is set to merge into master, so changing it will break that.

[2021-03-09 17:20] RobFog commented on #16
Has Evan's change done this? https://github.com/adium/adium/commit/f2e9f1e9102ab880bc4d80a203f29a00d789270e

[2021-03-09 17:22] RobFog commented on #8
#16 is related.

[2021-03-09 19:44] Asher- commented on #16
I'm not clear what you're asking. Evan just updated project codesign settings.

[2021-03-09 20:54] RobFog commented on #16
Oh. "Use current MMTabBarView" sounded like he had updated to the latest – "current" – version of it.

[2021-03-09 21:09] estella144 commented on #9
@Asher- and @jas8522 it is not. AFAIC #2 is just about getting Adium 1.5.11 out, while this is specific, centred around Apple M1 support.

[2021-03-09 21:13] estella144 commented on #17
@Asher- Codesign is okay for me (Adium 1.5.10.4 on macOS 11.2.2).

[2021-03-09 21:18] estella144 commented on #24
@jas8522 thanks for merging. This all seems very technical, can you do it?

[2021-03-09 21:22] estella144 commented on #18
I don't understand @Neustradamus . By the way @RobFog , what do you mean by the "scrolling bug"?

[2021-03-09 21:27] estella144 opened #25 "Remove ReadMe.rtf"
ReadMe.rtf is redundant with the license (it just contains most of the same things), and the other info can be moved into README.md.

[2021-03-09 21:29] jas8522 commented on #9
I think you're missing the point. In order to support M1 we need to be able to build Adium and create a release. Once we can do that, creating a build that compiles for M1 processors *should* be as simple as checking a box in XCode and we will most definitely make that happen as soon as the project builds. Therefore this really is fundamentally the same as #2 because once it builds, it will be bui

[2021-03-09 21:30] RobFog commented on #25
No. License.txt has the whole GNU GPL text.

[2021-03-09 21:35] ChrisForsythe commented on #9
No, which is why I said "if it's easy, do this, if not, do this". Followed by assigning it to a milestone. Literally just trying to divvy up the work. Not all issues can be resolved in a single release.

So, if it's an easy checkbox, then yea it makes sense to go with 1.6. But if it's not easy and by easy I mean "click a checkbox" type of easy, it would make sense to punt it to another milestone.

[2021-03-09 21:38] ChrisForsythe commented on #20
Setting this to at lest milestone 1.7. If someone can get the code work @Asher- mentioned done before then we can move talk about moving it.

[2021-03-09 21:38] jas8522 commented on #24
@estella144 I believe it was @RobFog that merged your PR :)

According to the instructions at the link above, this change needs to be done first locally on someone's system before pushing the changes back to GitHub. I don't have a direct clone of this project (nor write access to the repo); my local dev copy was created from a fork.

[2021-03-09 21:39] RobFog commented on #24
The PR was not merged, it was closed because it was incomplete. I made the changes manually.

[2021-03-09 21:40] ChrisForsythe commented on #16
Setting to 1.6 due to this becoming necessary for the release.

[2021-03-09 23:35] Asher- commented on #9
Deploying to M1 (given everything else in order) is trivial.

Ensuring that M1 is working and potentially debugging issues... not so trivial.

[2021-03-09 23:46] Asher- commented on #17
I'm not sure what you mean.

This issue concerns deployment of compiled sources to bundle a new Adium.app.

The problem is that the (very old) build scripts create the dylibs and then frameworkerize them without any code signing. When Xcode performs its copy phase and goes to sign the frameworks, it does so by signing the bundled /A file, expecting everything else to already be signed; instead, it

[2021-03-10 07:45] estella144 commented on #17
@Asher- What I am saying is that the disk image should sign properly on my computer.

[2021-03-10 07:49] estella144 commented on #24
@jas8522 I don't have a local copy of the Adium repo either.

[2021-03-10 07:50] RobFog commented on #25
Sorry. I think misread. Yes, ReadMe.rtf duplicates a few things.

[2021-03-10 08:04] estella144 commented on #9
@Asher- no. Checking a checkbox, as @ChrisForsythe said, will require it to compile 2 times, as far as I can see.

[2021-03-10 08:09] estella144 commented on #2
So which version should we release? As I stated in #9 :

[2021-03-10 08:14] estella144 commented on #25
I will reopen the pull request.

[2021-03-10 08:26] estella144 commented on #8
I think #16 blocks this @RobFog and @Underboss572

[2021-03-10 11:37] Neustradamus commented on #18
MSN/WLM -> Escargot : https://escargot.log1p.xyz/ + https://escargot.log1p.xyz/news + https://gitlab.com/escargot-chat
AIM/Yahoo/ICQ -> http://iwarg.ddns.net/phoenix/ + http://iwarg.ddns.net/phoenix/index.php?action=faqpage + https://www.phoenix.wildman-productions.org/

[2021-03-10 15:00] Asher- commented on #17
This concerns signing of the binary, before any disk image is created.

[2021-03-10 15:01] Asher- commented on #9
How many times do you think things get compiled while making sure code is in working order?

[2021-03-10 15:04] Asher- commented on #18
Neustradamus - could you assemble details on current working state / updates required to work on either of those platforms?

[2021-03-10 15:25] estella144 commented on #9
@Asher- 2 per build. 1 for Intel® processors and 1 for the M1.

[2021-03-10 15:31] estella144 commented on #18
As @RobFog said:

We haven't discussed LiveJournal and MobileMe yet. We have discussed:

* AIM (see also #20)
* MSN
* GoogleTalk (?) (see also #1)
* Yahoo! [Messenger] and Yahoo! Japan
* Facebook

The general opinion is that these should be removed. @Asher- can you evaluate the status of the other ones?

[2021-03-10 15:35] estella144 opened #28 "Cannot connect to any IRC channels"
Using Adium 1.5.10.4, when I press the IRC icon, it does nothing.

[2021-03-10 15:38] RobFog commented on #28
Works fine here.

We need a more detailed description of the problem. I don't even know what you mean by "IRC icon".

[2021-03-10 15:43] estella144 commented on #28
https://user-images.githubusercontent.com/80313321/110655826-4dd90a80-81b7-11eb-8c32-3022dca4f564.mov

[2021-03-10 15:43] estella144 commented on #28
That is the problem @RobFog.

[2021-03-10 15:45] RobFog commented on #28
That is not how joining a channel works in Adium.

Please have a look at our extensive documentation before rushing to report a "bug": https://adium.im/help/pgs/AdiumDocumentation.html

[2021-03-10 15:45] #28 closed, assigned to nobody

[2021-03-10 15:48] Asher- commented on #9
Identical with #2.

[2021-03-10 15:48] #9 closed, assigned to nobody

[2021-03-10 15:54] ChrisForsythe commented on #25
Is readme.rtf referenced in any of the xcode projects in any way?

[2021-03-10 16:14] estella144 commented on #8
Me too, @Underboss572 and @RobFog. I can't get any tabs out of the main window.

[2021-03-10 16:32] ChrisForsythe commented on #18
@Asher- is busy with other things. I would suggest someone else handle reviewing each protocol for removal or not. Once a full list of the protocols with justification for each modification or keeping them is taken care of, it'll be easier for him or someone else to make a determination on the how if everyone on the agrees on the what.

So if something like this were filled out by someone it would

[2021-03-10 16:32] estella144 commented on #25
@ChrisForsythe I don't know. I don't have the time to sift through them all.

[2021-03-10 16:36] estella144 commented on #18
@ChrisForsythe I am quite interested, but I think this should be done by **2** people. @Neustradamus are *you* interested?

[2021-03-10 16:45] jas8522 commented on #3
@sgwilym I think this is your Icon! Thoughts?

[2021-03-10 16:46] estella144 commented on #18
| Service        | Officially Supported  | prpl status | Proposed action | Reason |
| ------------- | ------------- | ----- | :----------: | ---- |
| AIM      | No | [To be filled in] | Remove | Dead for a long time |
| MSN      | No | [To be filled in] | Remove | Dead for a long time |
| IRC | Yes  | [To be filled in] | Keep | Still active (many servers, we use it) |
| Facebook | No | API disable

[2021-03-10 16:49] estella144 commented on #18
@ChrisForsythe which repo is prpl?

[2021-03-10 17:04] Asher- commented on #18
https://keep.imfreedom.org/pidgin/pidgin/ - you'll have to use hg.

[2021-03-10 17:07] estella144 commented on #18
@Asher- hg? I can't install hg.

[2021-03-10 17:35] ChrisForsythe commented on #18
hg is mercurial. Really you just need to know what a prpl is and then how to check the status. A prpl is a pidgin protocol library. So aim would have one, irc, etc etc.

Finding out the status might be as simple as loading up pidgin and seeing what it offers, can connect, etc. rather than going through the mercurial repository. It could be handing that off to someone else while checking for offici

[2021-03-10 17:49] estella144 commented on #9
@Asher-: Er, *no*. This issue is **not** a duplicate of #2 and the discussion is **not** about the issue posed by #2.

[2021-03-10 17:56] estella144 commented on #18
@ChrisForsythe I can't seem to get them, so can you work on it?

[2021-03-10 18:04] estella144 commented on #28
@RobFog got it.

[2021-03-10 19:47] estella144 commented on #25
@ChrisForsythe no.

[2021-03-10 20:32] estella144 commented on #17
@Asher- I have no binary, only dmg.

[2021-03-10 22:47] #15 closed, assigned to Asher-

[2021-03-10 22:59] Neustradamus commented on #18
About AIM/Yahoo/ICQ and MSN, I do not use but there are supported servers...
Maybe good to keep, maybe a little change is needed...
It will be bad to remove it...
- https://github.com/adium/adium/issues/18#issuecomment-795291127

I will try to contact users...

[2021-03-10 23:09] Neustradamus commented on #18
I do not use IRC, I use XMPP, example Pidgin MUC Room is:
xmpp:devel@conference.pidgin.im?join

Recently, Pidgin has launched a PidginChat: https://pidgin.im/about/pidginchat/
It is XMPP service without the XMPP Federation.

[2021-03-10 23:34] Asher- commented on #17
Please don't comment on issues you don't understand unless it is to ask pertinent questions that lead to an understanding.

[2021-03-11 02:28] toeserve commented on #18
We definitely should not remove support for MSN, AIM, or Yahoo, as new servers and services have been developed which support these protocols, so Adium users need support for these protocols to connect to these services.

Escargot supports Yahoo and MSN:

https://escargot.log1p.xyz/

AIM Phoenix supports AIM:
http://iwarg.ddns.net/phoenix/index.php

That these new implementations of these protocol

[2021-03-11 03:02] jas8522 commented on #18
@toeserve seems reasonable to me, particularly for AIM / Phoenix.

Generally: wasn't Yahoo/MSN already removed a while ago? I don't see it in the list Adium presents to me when trying to add a new account.

- MobileMe: I can't see any reason why this should still exist
- Google Talk: may as well remain while it continues to work (I kinda thought it would be dead by now). Perhaps it should be rebra

[2021-03-11 07:14] estella144 commented on #18
@Neustradamus we should not be supporting ICQ anyway. As stated in https://en.wikipedia.org/wiki/ICQ#Clients :

We don't want to get in trouble, so drop that.

[2021-03-11 07:16] Asher- commented on #18
Wikipedia aside, I don't see any evidence of that in ICQ's actual terms of service. Maybe at one point this was true.

[2021-03-11 07:21] estella144 commented on #18
@Asher- the terms are at https://help.mail.ru/legal/terms/icq/eu/ircterms - it says:

That is the evidence.

[2021-03-11 09:45] Asher- commented on #18
That's totally unenforceable and has no relation to Adium.

Decompile, disassemble, modify, copy, alter, merge, rent, lease, lend, distribute, remarket => nothing to do with Adium.

Reverse engineer => requires precise definition, most of which (particularly in EU) are explicitly protected actions (reverse engineering for compatibility is specifically protected by EU law).

Reproduce => arguably,

[2021-03-11 12:03] sgwilym commented on #3
@jas8522 Yes, I made these! I was very surprised to get a message about these icons after all these years.

Whatever you decide upon, I'd be delighted to donate these icons to the Adium project.

One thing I'll say is I think my younger self wasn't able to appreciate the grizzled charm of the original icon. Seeing it now I find it rather nostalgic and charming. :)

[2021-03-11 12:47] Neustradamus commented on #18
My remark about ICQ is linked to:
- http://iwarg.ddns.net/phoenix/

"Rudimentary Support for ICQ clients in the 2000b / 6.5 range is now enabled. ICQ support is still in development,
so ICQ clients will still be in a rather crippled state."

Note: AIM and ICQ, it is OSCAR;
- https://en.wikipedia.org/wiki/OSCAR_protocol
- https://en.wikipedia.org/wiki/TOC_protocol

[2021-03-11 15:30] estella144 commented on #18
@Asher- we will need to use the protocol (which is a part of IrCQ), so that falls under disassembling and copying (and arguably reproducing). The terms are enforceable.

@Neustradamus you said, "... ICQ clients will still be in a rather crippled state." Even more of a reason to not do that.

[2021-03-11 15:40] RobFog commented on #3
I've used them a lot. Thank you for making, them, @sgwilym. 🙂

I'm still unclear as to what the purpose of bundling an .svg version of the app logo is. If the purpose is for people to be able to manipulate the official logo then I'm skeptical whether bundling a modified version is a good idea. It's potentially misleading and waters down the branding.

[2021-03-11 15:42] jas8522 commented on #20
I completed a project-wide search for `api.screenname.aol.com` and got no results... I tried with both Atom editor locally and using the Github search above... I also checked for other aol.com domains to see if they're cnames for the above domain and unless I missed one, none were! The only other place I can think Adium would get that domain from is the primary connection server, but I can't imagi

[2021-03-11 15:45] RobFog commented on #20
It's `login.oscar.aol.com.`:
<img width="712" alt="Bildschirmfoto 2021-03-11 um 16 44 22" src="https://user-images.githubusercontent.com/2267373/110813749-19358380-8289-11eb-9ec9-888087131727.png">

[2021-03-11 15:47] jas8522 commented on #3
Personally, I'd consider this thread a reasonable resource if someone went looking for an SVG version of the logo and ended up using Sam's. Therefore IMO simply closing this and having it on record is sufficient. As in, I don't know if it explicitly needs to be bundled with the app. Might be nice to include it either on the website or GitHub page; but I'll leave that to consensus. Other opinions I

[2021-03-11 15:51] jas8522 commented on #20
@RobFog my understanding is that AIM Phoenix users put a completely different connection domain in that box and it begins to connect, only to come back with an error about `api.screenname.aol.com` -- in other words, that domain comes up later in the connection process and when *not* attempting to connect to an official AIM server which presumably doesn't work.

@stephenchaffins do I have that righ

[2021-03-11 16:36] RobFog commented on #3
Sounds good to me! 👌

[2021-03-11 16:47] estella144 commented on #20
@jas8522 Yep. It is probably routing through both of them, such that you cannot access `api.screenname.aol.com` directly, but only through `login.oscar.aol.com`.

[2021-03-11 16:51] estella144 commented on #25
@ChrisForsythe aren't you going to merge?

[2021-03-11 16:53] RobFog commented on #25
Patience.

[2021-03-11 16:54] RobFog commented on #20
@jas8522 Ah, right, got it. In that case, I reckon the code in question is in libpurple. And my guess for why you can't find the string is that, yes, libpurple is a binary.

That would mean we'd have to modify libpurple.

[2021-03-11 19:16] estella144 commented on #20
Sorry, "Adium" deleted my comment, but yes. We do have to modify.

[2021-03-11 19:24] jas8522 commented on #20
Huh, so if this is in libpurple, then the next question is: @stephenchaffins any chance you're able to test this with [Pidgin](https://pidgin.im/) on Linux and see if the same issue occurs there? Then our options are:

1. If it's reproduced on Pidgin, the bug report would need to be filed with Pidgin/libpurple devs
2. If it's not reproduced on Pidgin, presumably we'd need to try updating our purpl

[2021-03-11 19:39] Asher- commented on #18
That's not correct.

[2021-03-11 19:44] estella144 commented on #17
How do you know I don't understand this?

[2021-03-11 19:45] estella144 commented on #18
@Asher- in what way?

[2021-03-11 20:03] Asher- commented on #17
If you understood this, you would be able to identify the evidence yourself.

[2021-03-11 20:12] Asher- commented on #18
To answer, we would have to be talking about a specify body of law. In general, using a library—even if it has been created by way of reverse engineering, decompiling, etc—is not equivalent to us reverse engineering, decompiling, etc. There are questions at stake, such as whether the result "reproduces" the code in question, but the bottom line is that none of us have done any of the things that w

[2021-03-11 20:16] estella144 commented on #17
@Asher- I don't have the binary to identify the evidence.

[2021-03-11 20:18] estella144 commented on #18
This is getting off-topic @Asher-. I *will* update the table, but I have yet to receive anything about prpl status.

[2021-03-11 20:34] Asher- commented on #18
The best way to handle this would be to document your concerns about potential terms of service / legal issues with 1. quotation from corresponding sources (as you've provided here) 2. your interpretation of how to understand how that impacts us 3. possible ambiguities or alternative understandings.

The law is not a fixed thing. In no case does it simply exist. It is derived from contracts, which

[2021-03-11 20:40] estella144 commented on #20
This might help: https://github.com/SaketaChalamchala/DisassemblyAccuracy/blob/f798d16f01df57a14fea88ed1ba2ebdfc9a52474/ComparisonResults/pidgin/asms/original/clientlogin.asm#L2314

[2021-03-11 20:43] jas8522 commented on #20
@estella144 that code doesn't look like it's been updated in 4-5 years though -- is that definitely the most recent code for AIM prpl?

[2021-03-11 20:45] estella144 commented on #20
Someone called "The_Tick" posted this on IRC

[2021-03-11 20:47] Asher- opened #31 "Diagram Class and Object Dependency Tree"
As stated elsewhere, the current accumulation of code—in spite of the code being high quality—is a monolithic mess.

The concept is to restructure code into modular elements that can ultimately be separated, turning Adium into a thin API for a universal/shared OS messaging layer.

In order to do this, it would be helpful to have a diagrammatic view of how things are currently organized.

1. Resear

[2021-03-11 20:48] estella144 commented on #20
<img width="978" alt="Screenshot 2021-03-11 at 20 46 17 839" src="https://user-images.githubusercontent.com/80313321/110853069-1186d680-82ab-11eb-8e98-a187ddda5f34.png">

[2021-03-11 20:51] estella144 commented on #31
The repo PaulTaykalo/objc-dependency-visualizer may help.

[2021-03-11 21:06] Asher- commented on #20
It sounds like there is a question: does Pidgin work with AIM Phoenix?

Can someone who cares about AIM Phoenix verify?

[2021-03-11 21:07] estella144 commented on #20
@Asher- Why "someone who cares about AIM Phoenix"?

[2021-03-11 21:09] Asher- commented on #20
Because if no one cares enough about AIM Phoenix to report whether Pidgin is currently compatible then there is no loss neglecting it.

[2021-03-11 21:10] stephenchaffins commented on #20
Pidgin does work with aim Phoenix, "with SSL And clientlogin disabled"

[2021-03-11 21:21] stephenchaffins commented on #20
Estrella,  people do. Wtf. I've been watching this thread and the other, and youre an ass. This is probably why your posts are always being deleted.

Besides, aim is still being rebuilt, so that stuff will eventually make its way in.

[2021-03-11 21:26] RobFog commented on #20
I think this is what we're looking for: https://keep.imfreedom.org/pidgin/pidgin/file/037eec63eefd/libpurple/protocols/oscar/clientlogin.c

That's the 2.x.y branch. AIM seems to have been removed from what will become Pidgin 3: https://keep.imfreedom.org/pidgin/pidgin/file/tip/libpurple/protocols – no "oscar" subfolder. So we won't be able to rely on libpurple for AIM once we migrate to version 3.

[2021-03-11 21:30] stephenchaffins commented on #20
I appreciate you wanting to keep this moderated, but I don't think I will. That's not my job. I see everything Estrella has posted. Rude, and condescending. Estrella doesn't know how to say sometbing without  being rude about it, so I standby my insult. You guys can feel free to moderate as you will with no hard feelings from me.

[2021-03-12 12:03] Asher- commented on #20
In that case, it seems like it would make sense to get a release together that will work with AIM Phoenix on 2.x.y before removing when we upgrade to 3. Or should that mean ignoring it? What do you think?

[2021-03-12 17:14] RobFog commented on #20
I think the time would probably be better spent on support for modern and more widely used services.

I've also been wondering whether we should risk the impression that we're encouraging people to have conversations through a random dyndns service.

[2021-03-12 17:31] estella144 commented on #20
@RobFog what do you mean by:

[2021-03-12 17:32] estella144 commented on #31
While building the Xcode project:
<img width="1072" alt="Screenshot 2021-03-12 at 17 30 36 087" src="https://user-images.githubusercontent.com/80313321/110976502-dba02b80-8358-11eb-8745-27eb4e90d397.png">

[2021-03-12 17:33] Asher- commented on #20
This seems like a fair point. I was thinking— the project describes itself as reviving classic software, not as a new deployment of an existing protocol...

[2021-03-12 17:41] Asher- commented on #31
For now:
1. Install home brew
2. Install dependencies

Commands to do so:
1. /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
2.brew install expat fribidi libgcrypt libffi libotr json-glib gettext glib

[2021-03-12 20:51] estella144 commented on #31
@Asher- same error. pastebin at https://pastebin.com/PWQkXzuV

[2021-03-13 04:13] stephenchaffins commented on #20
I think the dynamic dns url was being used while they were building it enough to function and support users. The site says they're in the process of migrating to a production server with a real TLD.

I think all that is needed is NOT using separate login and authentication servers. Right now, we can pick the login server, but it still tries to authenticate the username through the old aol hostname